<main>

    <body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed aside-enabled aside-fixed" 
    style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">
    
        <!--begin::Root-->
        <div class="d-flex flex-column flex-root">
            <!--begin::Page-->
            <div class="page d-flex flex-row flex-column-fluid">
        
                <!--begin::Aside-->
                <div id="kt_aside" style="margin-top:9.3rem"  class="aside aside-light aside-hoverable" data-kt-drawer="true" 
                    data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" 
                    data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" 
                    data-kt-drawer-toggle="#kt_aside_mobile_toggle">
                    <!--begin::Brand-->
                    <div hidden class="aside-logo flex-column-auto" id="kt_aside_logo">
                        <!--begin::Logo-->
                        <a href="#">
                            <img src="../../../assets/logo/ricva.jpg" height="40px" width="120px" alt="ricva_logo">
        
                        </a>
                        <!--end::Logo-->
                        <!--begin::Aside toggler-->
                        <div id="kt_aside_toggle" class="btn btn-icon w-auto px-0 btn-active-color-primary aside-toggle" data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body" data-kt-toggle-name="aside-minimize">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr079.svg-->
                            <span class="svg-icon svg-icon-1 rotate-180">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path opacity="0.5" d="M14.2657 11.4343L18.45 7.25C18.8642 6.83579 18.8642 6.16421 18.45 5.75C18.0358 5.33579 17.3642 5.33579 16.95 5.75L11.4071 11.2929C11.0166 11.6834 11.0166 12.3166 11.4071 12.7071L16.95 18.25C17.3642 18.6642 18.0358 18.6642 18.45 18.25C18.8642 17.8358 18.8642 17.1642 18.45 16.75L14.2657 12.5657C13.9533 12.2533 13.9533 11.7467 14.2657 11.4343Z" fill="black" />
                                    <path d="M8.2657 11.4343L12.45 7.25C12.8642 6.83579 12.8642 6.16421 12.45 5.75C12.0358 5.33579 11.3642 5.33579 10.95 5.75L5.40712 11.2929C5.01659 11.6834 5.01659 12.3166 5.40712 12.7071L10.95 18.25C11.3642 18.6642 12.0358 18.6642 12.45 18.25C12.8642 17.8358 12.8642 17.1642 12.45 16.75L8.2657 12.5657C7.95328 12.2533 7.95328 11.7467 8.2657 11.4343Z" fill="black" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </div>
                        <!--end::Aside toggler-->
                    </div>
                    <!--end::Brand-->
        
                    <!--begin::Aside menu-->
                    <div class="aside-menu flex-column-fluid">
                        <!--begin::Aside Menu-->
                        <div class="hover-scroll-overlay-y my-5 my-lg-5" id="kt_aside_menu_wrapper" 
                        data-kt-scroll="true" 
                        data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto" 
                        data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer" 
                        data-kt-scroll-wrappers="#kt_aside_menu" 
                        data-kt-scroll-offset="0">
                            <!--begin::Menu-->
                            <div class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500" id="#kt_aside_menu" data-kt-menu="true">
        
                                
        
                            <div  class="menu-item">
                                <a class="menu-link" href="#">
                                    <span class="menu-title">Campagnes</span>
                                    <span >12</span>
                                </a>
                            </div>
        
                            <div  class="menu-item">
                                <a class="menu-link" href="#">
                                    <span class="menu-title">Détails campagne</span>
                                    <span >12</span>
                                </a>
                            </div>
        
                            <div  class="menu-item">
                                <a class="menu-link" href="#">
                                    <span class="menu-title">Spéculations</span>
                                    <span >12</span>
                                </a>
                            </div>
        
                            <div  class="menu-item">
                                <a class="menu-link" href="#">
                                    <span class="menu-title">Detalis speculations</span>
                                    <span >12</span>
                                </a>
                            </div>
        
                            <div  class="menu-item">
                                <a class="menu-link" href="#">
                                    <span class="menu-title">Entrepots</span>
                                    <span >12</span>
                                </a>
                            </div>
        
                            <div  class="menu-item">
                                <a class="menu-link" href="#">
                                    <span class="menu-title">Groupements</span>
                                    <span >12</span>
                                </a>
                            </div>
        
                            <div  class="menu-item">
                                <a class="menu-link" href="#">
                                    <span class="menu-title">Exportateurs</span>
                                    <span >12</span>
                                </a>
                            </div>
        
                            <div  class="menu-item">
                                <a class="menu-link" href="#">
                                    <span class="menu-title">Affectations exportateurs</span>
                                    <span >12</span>
                                </a>
                            </div>
        
                            <div  class="menu-item">
                                <a class="menu-link" href="#">
                                    <span class="menu-title">Villes</span>
                                    <span >12</span>
                                </a>
                            </div>
        
                            <div  class="menu-item">
                                <a class="menu-link" href="#">
                                    <span class="menu-title">Sites</span>
                                    <span >12</span>
                                </a>
                            </div>
        
                            <div  class="menu-item">
                                <a class="menu-link" href="#">
                                    <span class="menu-title">Zonages</span>
                                    <span >12</span>
                                </a>
                            </div>
        
                            </div>
                            <!--end::Menu-->
                        </div>
                        <!--end::Aside Menu-->
                    </div>
                    <!--end::Aside menu-->
                    
                </div>
                <!--end::Aside-->
        
        
                <!--begin::Wrapper-->
                <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                    <!--begin::Header-->
                    <div id="kt_header"  class="header align-items-stretch">
                        <!--begin::Container-->
                        <div class="container-fluid d-flex align-items-stretch justify-content-between">
                            
                            <!--begin::Mobile logo-->
                            <div  class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
                                <a  href="../../../index.html" class="d-lg-none">
                                    <img alt="Logo" src="../../../assets/logo/ricva.jpg" class="h-30px" />
                                </a>
                            </div>
                            <!--end::Mobile logo-->
                            <!--begin::Wrapper-->
                            <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
                                <!--begin::Navbar-->
                                <div class="d-flex align-items-stretch" id="kt_header_nav">
                                    <!--begin::Menu wrapper-->
                                    <!-- <div class="header-menu align-items-stretch" data-kt-drawer="true" data-kt-drawer-name="header-menu" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_header_menu_mobile_toggle" data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_body', lg: '#kt_header_nav'}"> -->
                                        <!--begin::Menu-->
                                        <!-- <div style="display: flex; align-items:stretch"> -->
        
                                            <button type="button" class=" justify-content-center mt-3 btn btn-outline-primary position-relative" 
                                                style="border-radius: 40px; border: 1px solid ;border-color: #CC6F47;color: black;"
                                                (click)="toggleBadgeIndex(1)"
                                            >
                                            <div class="justify-content-center">
        
                                                <span>
                                                    <img src="../../../assets/icons/cashew/icons8-cashew-32.png" width="25" height="25" />
                                                </span>
                                                Cajou 
                                                <span  *ngIf="badgeIndex === 1" 
                                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
                                                    style="background: #00AD63 !important;" 
                                                > 
                                                    <svg 
                                                    xmlns="http://www.w3.org/2000/svg" 
                                                    height="11" 
                                                    width="8" 
                                                    fill="#FFF" 
                                                    viewBox="0 0 448 512" 
                                                > 
                                                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--> 
                                                    <path 
                                                        d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" 
                                                    /> 
                                                </svg> 
                                                    
                                                </span> 
                                            </div> 
                                            </button>
                                    
                                            <button type="button" class=" justify-content-center mt-3 btn btn-outline-primary position-relative" 
                                                style="border-radius: 40px; border: 1px solid ;border-color: #CC6F47;color: black;margin-left: 0.5rem"
                                                (click)="toggleBadgeIndex(2)"
                                            > 
                                                <span>
                                                    <img src="../../../assets/icons/cocoa/icons8-cacaotier-32.png" width="20" height="20" />
                                                </span>
                                                Cacao 
                                                <span *ngIf="badgeIndex === 2" 
                                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
                                                    style="background: #00AD63 !important;" 
                                                > 
                                                    <svg 
                                                    xmlns="http://www.w3.org/2000/svg" 
                                                    height="11" 
                                                    width="8" 
                                                    fill="#FFF" 
                                                    viewBox="0 0 448 512" 
                                                > 
                                                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--> 
                                                    <path 
                                                        d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" 
                                                    /> 
                                                </svg> 
                                                    
                                                </span> 
                                            </button>
                                    
                                            <button type="button" class=" justify-content-center mt-3 btn btn-outline-primary position-relative" 
                                                style="border-radius: 40px; border: 1px solid ;border-color: #CC6F47;color: black;margin-left: 0.5rem"
        
                                                 (click)="toggleBadgeIndex(3)"
                                                > 
                                                <span>
                                                    <img src="../../../assets/icons/hevea.png" width="20" height="20" />
                                                </span>
                                                Hévéa 
                                                <span *ngIf="badgeIndex === 3" 
                                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
                                                    style="background: #00AD63 !important;" 
                                                    
                                                > 
                                                    <svg 
                                                    xmlns="http://www.w3.org/2000/svg" 
                                                    height="11" 
                                                    width="8" 
                                                    fill="#FFF" 
                                                    viewBox="0 0 448 512" 
                                                > 
                                                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--> 
                                                    <path 
                                                        d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" 
                                                    /> 
                                                </svg> 
                                                    
                                                </span> 
                                            </button>
                                    
                                            <button type="button" class=" justify-content-center mt-3 btn btn-outline-primary position-relative" 
                                                style="border-radius: 40px; border: 1px solid ;border-color: #CC6F47;color: black;margin-left: 0.5rem"
                                                (click)="toggleBadgeIndex(4)"
                                            > 
                                                <span>
                                                    <img src="../../../assets/icons/shea_butter.png" width="20" height="20" style="color: #FF8842;" />
                                                </span>
                                                Karité
                                                
                                                <a hidden href="https://fr.freepik.com/icone/beurre-karite_4543647#fromView=search&term=karit%C3%A9&track=ais&page=3&position=80&uuid=b7a29ff0-ecd9-4ff9-93b6-4cd55828936a">Icône de Freepik</a>
                                                <span  *ngIf="badgeIndex === 4" 
                                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
                                                    style="background: #00AD63 !important;" 
                                                > 
                                                    <svg 
                                                    xmlns="http://www.w3.org/2000/svg" 
                                                    height="11" 
                                                    width="8" 
                                                    fill="#FFF" 
                                                    viewBox="0 0 448 512" 
                                                > 
                                                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--> 
                                                    <path 
                                                        d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" 
                                                    /> 
                                                </svg> 
                                                    
                                                </span> 
                                            </button>
                                        <!-- </div> -->
        
        
                                        <!--end::Menu-->
                                    <!-- </div> -->
                                    <!--end::Menu wrapper-->
                                </div>
                                <!--end::Navbar-->
                                <!--begin::Topbar-->
                                <div class="d-flex align-items-stretch flex-shrink-0">
                                    <!--begin::Toolbar wrapper-->
                                    <div class="d-flex align-items-stretch flex-shrink-0">
                                        <button type="button" class="mt-2 mb-2 btn  position-relative" 
                                                    (click)="toggleBadgeIndex(4)"
                                                    style="background: #0068B2; color: white;border-radius: 10px;
                                                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;"
                                                 
                                                > 
                                                <span class="material-symbols-outlined ">
                                                    notifications
                                                    </span> 
                                                    
                                                    <sup style="font-size: 15px;">12</sup>
                                                    
                                                    
                                                </button>
        
                                            <!--begin::Notifications-->
                                            <div class="d-flex align-items-center ms-1 ms-lg-3">
                                                
                                                <select class="form-select" placeholder="Select an option" id="kt_docs_select2_country">
                                                    <option></option>
                                                    <option value="FR" data-kt-select2-country="flags/france.svg">
                                                        <img src="../../../assets/media/flags/france.svg"/>
                                                        France</option>
                                                    <option value="AX" data-kt-select2-country="flags/aland-islands.svg">Aland Islands</option>
                                                    ...
                                                </select>
        
                                               
                                            </div>
                                            <!--end::Notifications-->
                                        
                                        
                                    </div>
                                    <!--end::Toolbar wrapper-->
                                </div>
                                <!--end::Topbar-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::Header-->
                    <!--begin::Content-->
                    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        
        
                        <!--begin::Post-->
                        <div class="post d-flex flex-column-fluid" id="kt_post">
                            <!--begin::Container-->
                            <div id="kt_content_container" class="container-xxl">
                                <!--begin::Card-->
                                
        <div class="card">
            <div class="card-body">
                <form  (ngSubmit)="createWareHouse($event)" class="mt-3">
                   
                    <div class="form-row">
                      <div class="col">
                
                        <label>Libellé</label>
                        <input [value]="state?.libelle" name="libelle" (change)="handleChange($event)" type="text" class="form-control" placeholder="">
                
                        <label class="mt-2">Superficie(M<sup>2</sup>)</label>
                        <input [value]="state?.superficie" name="superficie" (change)="handleChange($event)" type="number" class="form-control" placeholder="">
                
                        <label class="mt-2">Placer</label>
                        <input [value]="state?.placer" name="placer" (change)="handleChange($event)" type="text" class="form-control" placeholder="">
                
                      </div>
                      <div class="col">
                        <label>Longitude</label>
                        <input [value]="state?.longitude" name="longitude" (change)="handleChange($event)" type="text" class="form-control" placeholder="">
                
                        <label class="mt-2">Latitude</label>
                        <input [value]="state?.latitude" name="latitude" (change)="handleChange($event)" type="number" class="form-control" placeholder="">
                      </div>
                    </div>
                    <div class="row mt-3 justify-content-between">
                            
                            <button type="submit" class="btn btn-primary float-start" 
                                style="background: white; color: #CC6F47; border: none !important;;width: 165px;height: 45px;"
                                [routerLink]="['/warehouse/list']"
                                (click)="redirectHistory()"
        
                            >
                                {{ readonly ? "Retour" : "Annuler"}}
                            </button>

                            <button [hidden]="readonly" [disabled] = 'disabled'  type="submit" class="btn btn-primary float-end text-center"
                                style="background: #CC6F47; border: none;width: 165px;height: 50px;"
                            >
                                Modifier
                            </button>
                            
                      </div>
                </form>
        
            </div>
            
        
        
            
        </div>
                                <!--end::Card-->
                            </div>
                            <!--end::Container-->
                        </div>
                        <!--end::Post-->
                        
                    </div>
                    <!--end::Content-->
                    <!--begin::Footer-->
                    <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
                        <!--begin::Container-->
                        <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
                            <!--begin::Copyright-->
                            <div class="text-dark order-2 order-md-1">
                                <span class="text-muted fw-bold me-1">2021©</span>
                                <a href="https://keenthemes.com/" target="_blank" class="text-gray-800 text-hover-primary">Paul-Marie TATI</a>
                            </div>
                            <!--end::Copyright-->
                            <!--begin::Menu-->
                            <ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
                                <li class="menu-item">
                                    <a href="https://keenthemes.com/" target="_blank" class="menu-link px-2">About</a>
                                </li>
                                <li class="menu-item">
                                    <a href="https://keenthemes.com/support" target="_blank" class="menu-link px-2">Support</a>
                                </li>
                                <li class="menu-item">
                                    <a href="https://1.envato.market/EA4JP" target="_blank" class="menu-link px-2">Purchase</a>
                                </li>
                            </ul>
                            <!--end::Menu-->
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::Footer-->
                </div>
                <!--end::Wrapper-->
        
        
            </div>
            <!--end::Page-->
        </div>
        <!--end::Root-->
    </body>
</main>
