<!-- <div *ngFor="let item of items" class="menu-item">
    <a class="menu-link" [href]="item?.href">
        <span *ngIf="item?.icon !== null" class="menu-icon">
            {{ item?.icon }}
        </span>
        <span class="menu-title">"Campagnes"
"Détails campagne"
"Spéculations"
"Detalis speculations"
"Entrepots"
"Groupements"
"Exportateurs"
"Affectations exportateurs"
"Villes"
"Sites"
"Zonages"</span>
        <span *ngIf="item?.number">12</span>
    </a>
</div> -->

<div  class="menu-item">
    <a class="menu-link" href="#">
        <span class="menu-title">Campagnes</span>
        <span >12</span>
    </a>
</div>

<div  class="menu-item">
    <a class="menu-link" href="#">
        <span class="menu-title">Détails campagne</span>
        <span >12</span>
    </a>
</div>

<div  class="menu-item">
    <a class="menu-link" href="#">
        <span class="menu-title">Spéculations</span>
        <span >12</span>
    </a>
</div>

<div  class="menu-item">
    <a class="menu-link" href="#">
        <span class="menu-title">Detalis speculations</span>
        <span >12</span>
    </a>
</div>

<div  class="menu-item">
    <a class="menu-link" href="#">
        <span class="menu-title">Entrepots</span>
        <span >12</span>
    </a>
</div>

<div  class="menu-item">
    <a class="menu-link" href="#">
        <span class="menu-title">Groupements</span>
        <span >12</span>
    </a>
</div>

<div  class="menu-item">
    <a class="menu-link" href="#">
        <span class="menu-title">Exportateurs</span>
        <span >12</span>
    </a>
</div>

<div  class="menu-item">
    <a class="menu-link" href="#">
        <span class="menu-title">Affectations exportateurs</span>
        <span >12</span>
    </a>
</div>

<div  class="menu-item">
    <a class="menu-link" href="#">
        <span class="menu-title">Villes</span>
        <span >12</span>
    </a>
</div>

<div  class="menu-item">
    <a class="menu-link" href="#">
        <span class="menu-title">Sites</span>
        <span >12</span>
    </a>
</div>

<div  class="menu-item">
    <a class="menu-link" href="#">
        <span class="menu-title">Zonages</span>
        <span >12</span>
    </a>
</div>